<!-- <div class="modal" id="modalAddEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Todo Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
            <div class="mb-3">
              <label class="form-label">Title</label>
              <input type="text" formControlName="title" class="form-control" required>
            </div>
  
            <div *ngIf="getTitle?.invalid && (getTitle?.dirty || getTitle?.touched)" class="notification">
              <div *ngIf="getTitle?.errors?.['required']" style="color: red; background-color: #fff">
                Please enter a valid title.
              </div>
            </div>  
  
            <div class="mb-3">
              <label class="form-label">Deadline</label>
              <input type="datetime-local" formControlName="deadline" class="form-control" required>
            </div>
  
            <div *ngIf="getDeadline?.invalid && (getDeadline?.dirty || getDeadline?.touched)" class="notification">
              <div *ngIf="getDeadline?.errors?.['required']" style="color: red; background-color: #fff">
                Please enter a valid deadline.
              </div>
              <div *ngIf="getDeadline?.errors?.['timeError']" style="color: red; background-color: #fff">
                Please enter a valid deadline greater than current time.
              </div>
            </div>
  
            <div class="mb-3">
              <label class="form-label">Content</label>
              <input type="text" formControlName="content" class="form-control" required>
            </div>
  
            <div *ngIf="getContent?.invalid && (getContent?.dirty || getContent?.touched)" class="notification">
              <div *ngIf="getContent?.errors?.['required']" style="color: red; background-color: #fff">
                Please enter a valid content.
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="button" *ngIf="showAdd" class="firstButtonAdd" (click)="postTodoDetails()"
            [ngClass]="{ lastButtonAdd: isEntered() }" data-bs-dismiss="modal">
            Add
          </button>
          <button type="button" *ngIf="showUpdate" class="buttonUpdate" (click)="updateTodoDetails()"
            data-bs-dismiss="modal">
            Update
          </button>
        </div>
      </div>
    </div>
  </div>
   -->
