.title {
    color: #FF3399;
    margin-top: 10px;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
}

.buttons {
    display: flex;
    align-items: center; 
    width: 100%;
}

.buttonLeft {
    float: left;
    width: 50%;
    margin: 0% 0% 20% 10%;
}

.buttonRight {
    float: right;
    width: 50%;
    text-align: right;
    margin: 0% 10.5% 40% 0%;
}



