<div class="modal-overlay" [ngClass]="{'show': showDeleteClearModal }">
    <div class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title">Delete Todo</h1>
          <button type="button" class="btn-close" (click)="closeModal()">
            <img src="../../assets/images/cancel.png" alt="Cancel" class="cancel-icon">
          </button>
        </div>
        
        <div class="modal-body">
          <div *ngIf="isDelete" class="title">Are you sure want to delete this todo?</div>
          <div *ngIf="isClear" class="title">Are you sure want to clear all completed todos?</div>
        </div>
  
        <div class="modal-footer">
          <app-trudi-button
            [buttonName]="'cancel'"
            (click)="closeModal()"
          >
          </app-trudi-button>

          <app-trudi-button
            *ngIf="isDelete"
            [buttonName]="'delete'"
            (click)="deleteTodo()" 
          >
          </app-trudi-button>

          <app-trudi-button
            *ngIf="isClear"
            [buttonName]="'clearCompleted'"
            (click)="clearCompletedTodos()" 
          >
          </app-trudi-button>
        </div>
    </div>
  </div>