.toast{
    position: fixed;
    left: 70%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    border-left: 4px solid;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.08);
    padding: 10px 0;
    height: 50px;
    width: 400px;
    animation: fadein 1s, fadeout 1s 3s forwards;
    top: 50px;
}
  
@keyframes fadein {
    from {
        opacity: 0;
        transform: translateX(120%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeout {
    to {
        opacity: 0;
    }
}

.toast + .toast{
    margin-top: 24px;
}

.toast-icon{
    font-size: 24px;
}

.toast-icon,
.toast-close{
    padding: 0 16px;
}

.toast-body{
    flex-grow: 1;
}

.toast-title{
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast-msg{
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.toast-close{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.toast-add{
    border-color: green;
}
.toast-icon-add{
    color: green;
}

.toast-update{
    border-color: yellow;
}
.toast-icon-update{
    color: yellow;
}

.toast-delete{
    border-color: red;
}
.toast-icon-delete{
    color: red;
}