button {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 14px;
    margin-right: 5px;
    text-transform: capitalize;
    cursor: pointer;
}

.edit {
    background-color: #0099FF;
}

.delete {
    background-color: #FF0033;
}

.add {
    background-color: #00CC00;
    border: 1px solid #007700;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.cancel {
    background-color: #888888;
    border: 1px solid #777777;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.all, .active, .completed {
    width: 100px;
    background-color: #0099FF;
    color: #220000;
    font-size: 14px;
}

.clickButton {
    border: 2px solid #0033FF;
    color: #000022;
    font-size: 16px;
}

.clearCompleted {
    width: 130px;
    background-color: #FF0033;
}
