button {
    width: 60px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 14px;
    margin-right: 5px;
    text-transform: capitalize;
    cursor: pointer;
}

.edit {
    background-color: #0099FF;
    transition: transform 0.3s ease;
    &:hover{
        transform: scale(1.05); 
    }
}

.delete {
    background-color: #FF0033;
    transition: transform 0.3s ease;
    &:hover{
        transform: scale(1.05); 
    }
}

.add {
    background-color: #00CC00;
    border: 1px solid #007700;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    &:hover{
        transform: scale(1.05); 
    }
}

.cancel {
    background-color: #888888;
    border: 1px solid #777777;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    &:hover{
        transform: scale(1.05); 
    }
}

.all, .active, .completed {
    width: 100px;
    background-color: #0099FF;
    color: #220000;
    font-size: 14px;
    transition: transform 0.3s ease;
    margin-right: 15px;
    &:hover{
        transform: scale(1.1); 
    }
}

.clickButton {
    color: #993366;
    font-size: 16px;
    transform: scale(1.1); 
    font-weight: bold;
}

.clearCompleted {
    width: 130px;
    background-color: #FF0033;
    transition: transform 0.3s ease;
    &:hover{
        transform: scale(1.05); 
    }
}
