<div class="todo-app">
    <div class="container">
        <app-header class="header"></app-header>
    
        <app-todo-list class="main"></app-todo-list>
    
        <app-footer class="footer"></app-footer>
    </div>
</div>

<app-add-edit-modal></app-add-edit-modal>

<app-delete-clear-modal></app-delete-clear-modal>

<app-trudi-toast
    *ngIf="isAddToast"
    [title]="'Add Todo'"
    [message]="'Congratulations, you have successfully added todo'"
    [iconName]="'fa-solid fa-circle-check'"
    [toastRole]="'toast-add'"
    [toastIcon]="'toast-icon-add'"
>
</app-trudi-toast>

<app-trudi-toast
    *ngIf="isUpdateToast"
    [title]="'Update Todo'"
    [message]="'You have successfully updated todo'"
    [iconName]="'fa-sharp fa-regular fa-pen-to-square'"
    [toastRole]="'toast-update'"
    [toastIcon]="'toast-icon-update'"
>
</app-trudi-toast>

<app-trudi-toast
    *ngIf="isDeleteToast"
    [title]="'Delete Todo'"
    [message]="'You have successfully deleted todo'"
    [iconName]="'fa-solid fa-trash'"
    [toastRole]="'toast-delete'"
    [toastIcon]="'toast-icon-delete'"
>
</app-trudi-toast>

<app-trudi-toast
    *ngIf="isClearToast"
    [title]="'Clear Completed Todo'"
    [message]="'You have successfully clear completed todo'"    
    [iconName]="'fa-solid fa-trash'"
    [toastRole]="'toast-delete'"
    [toastIcon]="'toast-icon-delete'"
>
</app-trudi-toast>