<div class="todo-app">
    <div class="container">
        <app-header class="header"></app-header>
    
        <app-todo-list class="main"></app-todo-list>
    
        <app-footer class="footer"></app-footer>
    </div>
  </div>
  
  <app-add-edit-modal></app-add-edit-modal>
  
  <app-delete-clear-modal></app-delete-clear-modal>
  
  <app-trudi-toast
    *ngIf="isAddToast"
    [toastRole]="'toast-add'"
    [title]="'Add Todo'"
    [tilteRole]="'title-add'"
    [message]="'You have successfully added todo'"
    [linkIcon]="'../../assets/images/check-circle.png'"
    [nameIcon]="'Add'"
    [icon]="'icon-add'"
    (clickEvent)="closeToast()"
  >
  </app-trudi-toast>
  
  <app-trudi-toast
    *ngIf="isUpdateToast"
    [toastRole]="'toast-update'"
    [title]="'Update Todo'"
    [tilteRole]="'title-update'"
    [message]="'You have successfully updated todo'"
    [linkIcon]="'../../assets/images/pen-to-square.png'"
    [nameIcon]="'Update'"
    [icon]="'icon-update'"
    (clickEvent)="closeToast()"
  >
  </app-trudi-toast>
  
  <app-trudi-toast
    *ngIf="isDeleteToast"
    [toastRole]="'toast-delete'"
    [title]="'Delete Todo'"
    [tilteRole]="'title-delete'"
    [message]="'You have successfully deleted todo'"
    [linkIcon]="'../../assets/images/trash.png'"
    [nameIcon]="'Delete'"
    [icon]="'icon-delete'"
    (clickEvent)="closeToast()"
  >
  </app-trudi-toast>
  
  <app-trudi-toast
    *ngIf="isClearToast"
    [toastRole]="'toast-delete'"
    [title]="'Clear Completed Todo'"
    [tilteRole]="'title-delete'"
    [message]="'You have successfully clear completed todo'"    
    [linkIcon]="'../../assets/images/trash.png'"
    [nameIcon]="'Delete'"
    [icon]="'icon-delete'"
    (clickEvent)="closeToast()"
  >
  </app-trudi-toast>