<div class="modal-overlay" [ngClass]="{'show': showAddEditModal }">
    <div class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title">Todo Details</h1>
          <button type="button" class="btn-close" (click)="onCloseModal()">
            <img src="../../assets/images/cancel.png" alt="Cancel" class="cancel-icon">
          </button>
        </div>
        
        <div class="modal-body">
          <form [formGroup]="formValue" class="form-group">
            <div>
              <label class="form-label">Title</label>
              <app-trudi-text-field 
                [name]="'title'"
                [formControl]="formValue.controls['title']"
              >
              </app-trudi-text-field>

            </div>
  
            <div *ngIf="getTitle?.invalid && (getTitle?.dirty || getTitle?.touched)" class="notification">  
              <div *ngIf="getTitle?.errors?.['required']" class="error">
                Please enter a valid title.
              </div>
            </div>
  
            <div>
              <label class="form-label">Deadline</label>
              <app-trudi-date-picker
                [formControl]="formValue.controls['deadline']"
                [name]="'deadline'"
              >
              </app-trudi-date-picker>
            </div>
  
            <div *ngIf="getDeadline?.invalid && (getDeadline?.dirty || getDeadline?.touched)" class="notification">  
              <div *ngIf="getDeadline?.errors?.['required']" class="error">
                Please enter a valid deadline.
              </div>
              <div *ngIf="getDeadline?.errors?.['timeError']" class="error">
                Please enter a valid deadline greater than current time.
              </div>
            </div>
  
            <div class="mb-3">
              <label class="form-label">Content</label>
              <app-trudi-text-field 
                [formControl]="formValue.controls['content']"
                [name]="'content'"
              >
              </app-trudi-text-field>
            </div>
  
            <div *ngIf="getContent?.invalid && (getContent?.dirty || getContent?.touched)" class="notification">  
              <div *ngIf="getContent?.errors?.['required']" class="error">
                Please enter a valid content.
              </div>
            </div>
          </form>
        </div>
  
        <div class="modal-footer">
          <app-trudi-button
            [buttonName]="'cancel'"
            (click)="onCloseModal()"
          >
          </app-trudi-button>

          <app-trudi-button
            *ngIf="isAdd"
            [buttonName]="'add'"
            (click)="onPostTodoDetails()" 
          >
          </app-trudi-button>

          <app-trudi-button
            *ngIf="isUpdate"
            [buttonName]="'edit'"
            (click)="updateTodoDetails()"
          >
          </app-trudi-button>
        </div>
    </div>
  </div>